.swiper-container {
  width: 100%;
  height: 100%;
}

.header-top {
  /*clip-path: circle(90vh at 50% -90vh);*/

  border-radius: 0% 0% 50% 50%;
}

.cover {
  z-index: -1;
}

.cover::after {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/r-shape.png");
  background-position: center bottom;
}
